/bin/
/sphereDirectional.jpg
/sphereMany.jpg
/spherePoint.jpg
/sphereSpot.jpg
/trianglesDirectional.jpg
/trianglesMany.jpg
/trianglesPoint.jpg
/trianglesSpot.jpg
/base render test.jpg
/color render test.jpg
/sphereTriangleInitial.jpg
/sphereTriangleMove1.jpg
/sphereTriangleMove2.jpg
/sphereTriangleSpot1.jpg
/sphereTriangleSpot2.jpg
/trianglesSphere.jpg
/shadow with transparency.jpg
/twoSpheresMirrored.jpg
/picture.jpg
